<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    <form action="{{ url_for('edit_user', user_id=user.user_id) }}" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ user.name }}" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" required>
            <small>Email cannot be changed.</small>
        </div>
        <div>
            <label for="admin">Admin:</label>
            <input type="checkbox" id="admin" name="admin" value="true" {% if user.admin %} checked {% endif %} >

        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="{{ user.phone }}" required>
            <small>Phone cannot be changed.</small>
        </div>
    </br>
        <button type="submit">Update User</button>
    </form>
</br>
    <button style="text-decoration:none;color: black;">
    <a  href="{{ url_for('users') }}" style="text-decoration:none;color: black;">Back to Users</a>
    </button>
</body>
</html>