{% extends 'base.html' %}

{% block head %}
    <title>Home1</title>
{% endblock %}

{% block body %}

{% if session['csrf_token'] %} <!-- if user is logged in -->
    <h3>Testowe linki</h3>
    <button><a href="/users">users</a></button>
    <button><a href="/rest_add">rest_add</a></button>
    <button><a href="/rest">rest</a></button>
    <button><a href="/logout">logout</a></button>
{% else %} <!-- if user is not logged in -->
    <h1>Home</h1>
    <button><a href="/login">login</a></button>
    <button><a href="/register">register</a></button>
{% endif %}

{% endblock %}
