{% extends 'base.html' %}

{% block head %}
    <title>Add Menu Item</title>
{% endblock %}

{% block body %}
    <h1>Add Menu Item for {{ restaurant.name }}</h1>
    <form method="post" action="{{ url_for('menu_add', restaurant_id=restaurant.id) }}">
        <div>
            <label for="dish_name">Dish Name:</label>
            <input type="text" id="dish_name" name="dish_name" required>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required>
        </div>
        <div>
            <button type="submit">Add Menu Item</button>
            <button style="text-decoration:none;color: black;">
                <a  href="{{ url_for('menu') }}" style="text-decoration:none;color: black;">Finish</a>
            </button>
        </div>
    </form>
{% endblock %}