{% extends 'base.html' %}

{% block head %}
    <title>Add Restaurant</title>
{% endblock %}

{% block body %}
    <--! check if user is admin -->
    {% if current_user.admin%}
    <h1>Add Restaurant</h1>
    <form method="post" action="{{ url_for('rest_add') }}">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" required>
        </div>
        <div>
            <button type="submit">Add Restaurant</button>
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="color: red;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% else %}
    <h3>NO PERMISION</h3>
    {% endif %}
{% endblock %}