---
import LoginForm from '../../components/auth/LoginForm/LoginForm.js';
import SignupForm from '../../components/auth/SignupForm/SignupForm.jsx';
import AuthLayout from '../../layouts/AuthLayout.astro';

export function getStaticPaths() {
  return [
    {params: {action: 'login'}},
    {params: {action: 'signup'}},
  ];
}
const {action} = Astro.params
---

<AuthLayout title=`${action === 'login' ? 'Login' : 'Signup'}`>
    <section class="flex flex-col items-center flex-grow">
      <div  class="flex flex-col items-center justify-center flex-grow max-w-xs gap-4 px-2">

      <h1 class="text-2xl">{action === 'login' ? 'Welcome Back to Heaven in Mouth' : 'Join Heaven in Mouth Today'}</h1>
      {action === 'login' ? <LoginForm client:idle /> : <SignupForm client:idle/>}
      <a href=`/auth/${action === "login" ? 'signup' : 'login'}`>
        {action === 'login' ? 'Need an account? Sign up' : 'Already have an account? Login'}
      </a>
      </div>
    </section>
</AuthLayout>